@import "tailwindcss";

:root {
  --blue: #0200F7;
  --white: #fefef4;
  --black: #282828;
}

body {
  font-family: var(--font-helvetica), sans-serif;
  color: var(--white);
}

.font-systemia {
  font-family: var(--font-systemia), sans-serif;
}

.font-helvetica {
  font-family: var(--font-helvetica), sans-serif;
}

.font-denton {
  font-family: var(--font-denton), sans-serif;
}

.bg-color-arnecke-blue {
  background-color: var(--blue);
}

.bg-color-arnecke-white {
  background-color: var(--white);
}

.text-color-arnecke-white {
  color: var(--white);
}

.text-color-arnecke-black {
  color: var(--black);
}

.text-color-arnecke-blue {
  color: var(--blue);
}

.border-color-arnecke-white {
  border-color: var(--white);
}

.border-color-arnecke-black {
  border-color: var(--black);
}

.border-color-arnecke-blue {
  border-color: var(--blue);
}

.bg-color-arnecke-black {
  background-color: var(--black);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-slow {
  animation: spin 50s linear infinite;
}

.animate-spin-fast {
  animation: spin 55s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 50s linear infinite;
}



